defusedxml~=0.7.1
ipython~=8.27.0
numpy~=1.26.4
pillow~=10.4.0
zlib~=1.2.13
jupyter~=1.0.0
pip~=24.2
typing_extensions~=4.11.0
panel~=1.5.2
attrs~=23.1.0
distro~=1.9.0
pysocks~=1.7.1
protobuf~=4.25.3
openssl~=3.0.16
pyopenssl~=24.2.1
cryptography~=43.0.0
docutils~=0.18.1
sphinx~=7.3.7
filelock~=3.13.1
black~=24.8.0
platformdirs~=3.10.0
colorama~=0.4.6
mypy_extensions~=1.0.0
packaging~=24.1
pathspec~=0.10.3
click~=8.1.7
isort~=5.13.2
tomli~=2.0.1
setuptools~=75.1.0
pytest~=7.4.4
charset-normalizer~=3.3.2
pytz~=2024.1
overrides~=7.4.0
cffi~=1.17.1
numba~=0.60.0
mypy~=1.11.2
aiohttp~=3.10.5
multidict~=6.0.4
flake8~=7.0.0
pyflakes~=3.2.0
pycodestyle~=2.11.1
plotly~=5.24.1
xarray~=2023.6.0
ipywidgets~=7.8.1
matplotlib~=3.9.2
traitlets~=5.14.3
scikit-image~=0.24.0
pandas~=2.2.2
pygments~=2.15.1
wcwidth~=0.2.5
pluggy~=1.0.0
iniconfig~=1.1.1
pexpect~=4.8.0
twisted~=23.10.0
six~=1.16.0
python-dateutil~=2.9.0post0
dask~=2024.8.2
pyarrow~=16.1.0
networkx~=3.3
scipy~=1.13.1
sympy~=1.13.2
contourpy~=1.2.0
bokeh~=3.6.0
fonttools~=4.51.0
lxml~=5.2.1
freetype~=2.12.1
lz4~=4.3.2
unicodedata2~=15.1.0
pyparsing~=3.1.2
jinja2~=3.1.4
cycler~=0.11.0
ipykernel~=6.28.0
tornado~=6.4.1
kiwisolver~=1.4.4